@model IEnumerable<Employee>
@{
	ViewData["Title"] = "Index";
}

<h1>All Employees</h1>
<br />
<br />

<a asp-controller="Employee" asp-action="Create" class="btn btn-primary">Create New Employee</a>


@if (Model.Count() > 0)
{
	<table class="table table-hover table-striped">

		<thead>
			<tr>
				<th>@Html.DisplayNameFor(E => E.Name)</th>
				<th>@Html.DisplayNameFor(E => E.Age)</th>
				<th>@Html.DisplayNameFor(E => E.Address)</th>
				<th>@Html.DisplayNameFor(E => E.Salary)</th>
				<th>@Html.DisplayNameFor(E => E.IsActive)</th>
				<th>@Html.DisplayNameFor(E => E.Gender)</th>
				<th>@Html.DisplayNameFor(E => E.Email)</th> 
				<th>Details</th>
				<th>Update</th>
				<th>Delete</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var Employee in Model)
			{
				<tr>
					<td>@Employee.Name</td>
					<td>@Employee.Age</td>
					<td>@Employee.Address</td>
					<td>@Employee.Salary</td>
					<td>@Employee.IsActive</td>
					<td>@Employee.Gender</td>
					<td>@Employee.Email</td>
					<td>
						<a asp-action="Details" asp-route-id="@Employee.Id" class="btn btn-warning">
							<i class="fas fa-eye"></i>Details
						</a>
					</td>
					<td>
						<a asp-action="Edit" asp-route-id="@Employee.Id" class="btn btn-success">
							<i class="fas fa-edit"></i>Edit
						</a>
					</td>
					<td>
						<a asp-action="Delete" asp-route-id="@Employee.Id" class="btn btn-danger">
							<i class="fas fa-trash"></i>Delete
						</a>
					</td>
				</tr>
			}
		</tbody>

	</table>

}
else
{
	<div class="mt-5 alert alert-warning">
		<h3>There is no Employees</h3>
	</div>
}


